@model IEnumerable<IMDB_list.Models.MoviesModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Release_year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Runtime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imdb_score)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>


        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Read More" ,"Details" , new { Index = item.Index })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Release_year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Runtime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imdb_score)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { Index = item.Index }) 
            @Html.ActionLink("Details", "Details", new { Index = item.Index }) 
            @Html.ActionLink("Delete", "Delete", new { Index = item.Index })
        </td>
    </tr>
}

</table>
